@charset "ISO-8859-1";

body{
	/* background-image: linear-gradient(to right, #ecd1ec, #b681dd, #b2b2f0, #98f098, #f9f95b, #f2bb55, #ec9595); */
	background-image: linear-gradient(to right, #ecd1ec, white);
	color: black !important;
	font-family: 'Quicksand', sans-serif;
}

.servicesList:hover {
	background: #ffffff;
}
.child-servicesList {
	display: none;
}
.servicesList:hover .child-servicesList {
	display: block;
}

button{
	padding: 10px 10px;
    margin: 10px 10px;
    min-width: 100px;
	cursor: pointer;
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
	text-align: center;
	border: 1px solid transparent;
	border-radius: .25rem;
}

input, select, option, textarea{
	background-image: linear-gradient(to left, #bbf4bb, lightblue, lightgray);
	color: darkblue;
	font-family: 'Quicksand', sans-serif;
	border-radius: 10px;
	padding-left: 10px;
	min-height: 27px;
}
.input-body{
	min-height: 300px;
	max-height: 500px;
}
.clear {
	margin: 10px auto;
}

.info-text-area{
	overflow: auto;
	background-color: #eff0f1;
	border-radius: 10px;
	padding-left: 20px;
}
.heading{
	margin: auto;
	text-align: center;
	color: #3042ca;
	border-radius: 15px;
}

@media all and (min-width : 500px) {
	.info-text-area.device{
		max-height: 500px;
	}
	.heading.device {
		font-size: 30px;
	}
}

@media all and (max-width : 500px) {
	.info-text-area.device{
		max-height: 300px;
	}
	.heading.device {
		font-size: 20px;
	}
}